@import './base.css';
@import 'tailwindcss';

@theme {
  /* ... */
  --animate-hide-seek: hide-seek 10s ease-in-out infinite;
  --animate-hide-seek-reverse: hide-seek-reverse 10s ease-in-out infinite;
  @keyframes hide-seek-reverse {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes hide-seek {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
